* {
    margin: 0;
    padding: 0;
    scroll-padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #161616;
}

/* LOGO */
.logo {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.logo img {
    width: 50%;
}

/* MENU */
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #161616;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
    clip-path: circle(75%);
}
.menu-btn{
    position: fixed;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: #D72A2C;
    transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
    color: #fff;
}
#active:checked ~ .menu-btn i:before{
    content: "\f00d";
}
.wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}
.wrapper ul li{
    margin: 15px 0;
}
.wrapper ul li a{
    color: none;
    text-decoration: none;
    font-family: 'Radio Canada', sans-serif; 
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    border-radius: 50%;
    background: #161616;
    position: relative;
    line-height: 3rem;
    transition: all 0.3s ease;
}
.wrapper ul li a:hover{
    color: #D72A2C;
    font-size: 2.2rem;
}
input[type="checkbox"]{
    display: none;
}

@keyframes rotate {
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
}
.icon {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    padding: 0 .5rem;
}
.icon:hover {
    color: #D72A2C;
}
/* END OF MENU */

/* ABOUT */
.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
} 

.about-text {
    color: #fff;
    font-family: 'Radio Canada', sans-serif; 
    font-weight: 300;
    font-size: 3rem;
    text-indent: 2rem;
    width: 90%;
}

/* SUBSCRIBE BUTTON */
.neon-wrapper {
    box-shadow:
    0 0 0.1vw 0.4vw #fc3232,
    0 0 0.4vw 0.6vw #D72A2C,
    0 0   4vw 0.4vw #7c191a,
    
    inset 0 0 1.5vw 0.4vw #7c191a,
    inset 0 0 0.4vw 0.2vw #D72A2C,
    inset 0 0 0.5vw 0.2vw #fff7f7;
    border-radius: 1.5rem;
    margin: 3rem 0;
    padding: 0 2rem;
}

.neon-text {
    font-family: 'Neonderthaw', cursive;
    text-shadow: 
    .1vw 0vw .25vw #fc3232, .2vw 0vw .25vw #fc3232, .4vw 0vw .25vw #fc3232,

    .1vw 0vw   0vw #D72A2C, .2vw 0vw   0vw #D72A2C, .4vw 0vw   0vw #D72A2C,
    .1vw 0vw  .1vw #D72A2C, .2vw 0vw  .1vw #D72A2C, .4vw 0vw  .1vw #D72A2C,
    .1vw 0vw   2vw #D72A2C, .2vw 0vw   2vw #D72A2C, .4vw 0vw   2vw #D72A2C,
    
    .1vw 0vw   1vw #7c191a, .2vw 0vw   1vw #7c191a, .4vw 0vw   5vw #7c191a,
    .1vw 0vw   5vw #7c191a, .2vw 0vw  20vw #7c191a, .4vw 0vw  10vw #7c191a,
    .1vw 0vw  10vw #7c191a, .2vw 0vw  30vw #7c191a, .4vw 0vw  10vw #7c191a;
} 

.button {
    color: #fff;
    font-size: 6rem;
    cursor: pointer;
    padding: 2rem 0;
    display: flex;
    text-decoration: none;
    border-radius: 1.5rem;
    font-family: 'Black Ops One', cursive;
}

.button i {
    align-self: center;
}

.button:hover {
    font-size: 6.5rem;
}


/* BAND */
.band-header {
    background-color: #D72A2C;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.band-header img {
    width: 50%;
    padding-top: 2rem;
}

.band {
    background-color: #D72A2C;
    width: 100%;
    color: #fff;
    padding-bottom: 5rem;
    text-align: center;
    line-height: 3.2rem;
    font-size: 2rem;
    font-family: 'Radio Canada', sans-serif; 
    font-weight: 600;
    list-style-type: none;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: 1rem solid #D72A2C;
}

.footer img {
    width: 40%;
}

.footer-icon {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    padding: 0 .5rem;
}

.footer-icon:hover {
    color: #D72A2C;
}

.copyright {
    color: #fff;
    margin: 2rem 0 .5rem 0;
}

.copyright a {
    color: #fff;
}

.copyright:hover a {
    color: #D72A2C;
}
















/* MEDIA QUERIES */
@media screen and (max-width: 806px) {
    /* ABOUT */
    .about-text {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 655px) {
    /* SUBSCRIBE BUTTON */
    .button {
        font-size: 4rem;
    }
}

@media screen and (max-width: 565px) {
    /* LOGO */
    .logo img {
        width: 60%;
    }
    /* ABOUT */
    .about-container {
        margin-top: 5rem;
    }
    .about-text {
        font-size: 2rem;
    }
    .band-header img {
        width: 70%;
    }
    .band {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 420px) {
    /* LOGO */
    .logo img {
        width: 80%;
        margin-top: 6rem;
    }
    .about-container {
        margin-top: 3rem;
        
    }
    .about-text {
        font-size: 1.8rem;
        width: 95%;
    }
    .band-header img {
        width: 90%;
    }
    .band {
        font-size: 1.7rem;
    }
    /* SUBSCRIBE BUTTON */
    .button {
        font-size: 3rem;
    }
}